<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Error Page</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" 
    crossorigin="anonymous">
	<style>
		
		section {
			margin-top: 20px;
			height: 600px,;
			
		}
		
		footer {
		   
		    position: fixed;
    height: 50px;
    color: white;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
		}

		}
	</style>
	
</head>

<body>

<header class="header"> 
	
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    
    <a class="navbar-brand" href="#">Music Player
    <img src="" width="30" height="30" class="d-inline-block align-top pr-3" alt="">
    </a>
    
    
      <a class="nav-item nav-link active" th:href="@{/songs/list}">Home <span class="sr-only">(current)</span></a>
      
      <a class="nav-item nav-link" th:href="@{/songs/showFormForAddNewSong}">Download</a>
      
      <a class="nav-item nav-link"  th:href="@{/songs/displayPlaylist}">My Favourites</a>
      
    </div>
  </div>

</nav>

</header>
<section class="container ">

		<div>
		<p class="text-danger mt-5 mb-5">
	     <strong >Oops..!<br>Sorry couldn't find the data <br> Please provide a valid id.</strong>
        </p>
		<hr>

            <a th:href="@{/songs/list}">Back</a>
		
	</div>

</section>

<footer class="footer footer-dark bg-dark font-small">

  <!-- Copyright -->
  <div><a class="pin-ic">
            <i class="fab fa-github fa-lg white-text fa-2x"> </i>
          </a>
	</div> 
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://github.com/Haseeb08/">Haseeb </a>
  </div>
  <!-- Copyright -->

</footer>

</body>

</html>